<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="toledotechevets.org.toledotech">

    <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Toledo Tech"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.techtoledo.activies.EventDetails"
            android:label="@string/title_activity_event_details"
            android:launchMode="singleTop"/>
        <activity
            android:name="org.techtoledo.activies.AboutTechToledo"
            android:label="@string/title_activity_event_details" />

        <receiver android:name="org.techtoledo.widget.EventWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/event_widget_info" />
        </receiver>

        <service android:name="org.techtoledo.widget.EventWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">

        </service>
    </application>

</manifest>